header{
    text-align: center;
    padding: 20px;
    display:  
    flex-direction
    justify-content
    text-decoration none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
a{
    color: rgb(246, 252, 91);
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    text-transform: uppercase;
    margin-right: 15px;
    margin-left: px;
}
a:hover{
    background-color: rgb(74, 73, 71);
}
body{
    background-image:linear-gradient(rgba(50, 50, 50, 0.75),rgba(50, 50, 50, 0.75)), url('/quiz3/MMSU..jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{    
    text-align: center;
    color: rgb(81, 212, 107);
}
nav{
    text-align: right;
    padding: 15px;
    text-transform: lowercase;
    text-decoration: none;
}
h2{
    color: rgb(142, 246, 140);
    text-align: center;
    padding: 15px;
    font-size: 30px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    color: #fefcfc;
    font-size: 18px;
    text-align: justify;
    margin: 60px;
 
}

.card {
    display: flex;
    width: 1200px;
    height: 600px;
    margin: 30px auto;
    padding: 50px;
    border-radius: 15px;
    justify-content: center;
    
}
ol{
    color: rgb(254, 250, 250);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 30px;
}
footer{
    font-size: 30px;
    text-align: center;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


